{% extends "header.html" %}

{% block body %}
<div class="row">
	<div class="col-md-6">
		<div role="tabpanel">
			<!-- Nav tabs -->
			<ul class="nav nav-tabs" role="tablist">
				<li role="presentation" class="active"><a href="#english" aria-controls="learn" role="tab" data-toggle="tab">На английском</a></li>
				<li role="presentation"><a href="#russian" aria-controls="code" role="tab" data-toggle="tab">На русском</a></li>
			</ul>
			<h3>Лучшие онлайн-курсы.</h3>
			  <!-- Tab panes -->
			<div class="tab-content">
			  <div role="tabpanel" class="tab-pane fade in active" id="english">
				<ul>
					{% for t in TOPIC_DICT["english"] %}
						<li><a href="{{t[1]}}" target="_blank">{{t[0]}}</a></li>
					{% endfor %}
				</ul>
			  </div>

			  <div role="tabpanel" class="tab-pane fade" id="russian">
				  <ul>
					{% for t in TOPIC_DICT["russian"] %}
						<li><a href="{{t[1]}}" target="_blank">{{t[0]}}</a></li>
					{% endfor %}
				  </ul>
			  </div>
			</div>
		</div>
	</div>
	<div class="col-md-3">
		<iframe width="239" height="389" style="border:none;" src="http://94.124.205.134/index.html"></iframe>
	</div>
	<div class="col-md-3">
		<script class="hh-script" src="https://api.hh.ru/widgets/vacancies/search?count=6&links_color=1560B2&border_color=1560B2&text=Django&currency=RUR&only_with_salary=true"></script>
	</div>
</div>




{% endblock %}

