<!DOCTYPE html>
<html>
  <head>
	<title>Военные новости</title>
	<meta content='военные новости, военные учения, УБМ, армия, онлайн, on-line' name='keywords'/>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" />
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}" />
  </head>
  
  <header>	
	<div class="container-fluid">
		<a href="/"><button type="button" class="btn btn-primary" aria-label="Left Align" style="margin-top:10px; margin-left:5px">
		  <span class="glyphicon glyphicon-send" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp На главную страницу
		</button></a>
  
		<ul class="nav navbar-nav navbar-right">
		  <div class="container-fluid">
			<h5>
				{% if session.logged_in %}
				<a href="/logout/"><span class="glyphicon glyphicon-log-in"></span> Выход&nbsp;&nbsp;&nbsp;</a>
				{% else %}
				<a href="/login/"><span class="glyphicon glyphicon-log-in"></span> Вход&nbsp;&nbsp;&nbsp;</a>
				<a href="/register/"><span class="glyphicon glyphicon-pencil"></span> Регистрация</a>
				{% endif %}
			</h5>
			</div>
		</ul>
	</div>
    </header>
  
  <body>
	
	<div class="container">
		{% with messages = get_flashed_messages() %}
			{% if messages %}
				{% for message in messages %}
					<div class="alert alert-warning alert-dismissible" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
					</button>
						{{message}}
					</div>
				{% endfor %}
			{% endif %}
		{% endwith %}
		
		{% block body %}{% endblock %}
	</div>
				
 	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

  </body>
  
</html>
