{% extends "base.html" %}

{% block content %}


  <h1>Войти</h1>

    {% from "_formhelpers.html" import render_field %}
		<form method=post action="/login">
            {{form.csrf_token}}
			<dl>
				{{render_field(form.username)}}
				{{render_field(form.password)}}
			</dl>
			<p>{{ form.remember_me }} Запомнить меня</p>
            <p><input type="submit" value="Войти"></p>
        </form>

	<h3>Если Вы еще не зарегистрированы, перейдите по ссылке <a href="{{ url_for('register') }}">Регистрация.</h3></a>

{% endblock %}