<!DOCTYPE html>
<html>
<head>
	<title>ХХХ-Военные новости</title>
	<meta content='военные новости, военные учения, УБМ, армия, онлайн, on-line' name='keywords'/>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
	<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
</head>
  
  
<header>
	<nav class="navbar navbar-default" style="margin-bottom: 0px">
	<div class="container-fluid">

	    <div class="navbar-header">
	      <a class="navbar-brand" href="#" style="font-size: 35px; font-family: 'Lobster'; margin-left: 20px"> ПАУК </a>
	    </div>


	<!--
		<a href="/dashboard/">
			<button type="button" class="btn btn-primary" aria-label="Left Align" style="margin-top:10px; margin-left:5px">
		  		<span class="glyphicon glyphicon-send" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp Обучение
			</button>
		</a>
	-->
		<ul class="nav navbar-nav navbar-right">
			<div style="margin-right: 15px; margin-left: 15px; margin-top: 10px; margin-bottom: 5px;"  class="container-fluid">
				<a role="presentation" class="active" data-toggle="modal" data-target="#exampleModal" href="#"><span class="glyphicon glyphicon-log-in"></span> Вход&nbsp;&nbsp;&nbsp;</a>
				<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				  <div class="modal-dialog">
					<div class="modal-content">
					  <div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="exampleModalLabel">Вход</h4>
					  </div>
					  <div class="modal-body">
						  <div class="container-fluid">
							  <form action="" class="form-inline" method="post">
								<input type="text" class="form-control" placeholder="Имя пользователя" name="username" value="">
								 <input type="password" class="form-control" placeholder="Пароль" name="password" value="">
								<input class="btn btn-primary" type="submit" value="Login">
							  </form>
							  
								<div class="container">
								<br>
							   <p>Нет аккаунта? <a href='/register'>Зарегистрироваться</a>.</p>
							   <br>
								
							  </div>
						</div>
					  </div>

					</div>
				  </div>
				</div>
					
			<a role="presentation" class="active" data-toggle="modal" data-target="#register" href="#"><span class="glyphicon glyphicon-pencil"></span> Регистрация</a>
			<div class="modal fade" id="register" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			  	<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h4 class="modal-title" id="exampleModalLabel">Регистрация</h4>
						</div>
					  	<div class="modal-body">
						  	<div class="container">
							  
								<form method=post action="/register">
								  <dl>
										<dt><label for="username">Имя пользователя</label>
										<dd><input id="username" name="username" type="text" value="">
										</dd>
										<dt><label for="email">Email</label>
										<dd><input id="email" name="email" type="text" value="">
										</dd>													
										<dt><label for="password">Новый пароль</label>
										<dd><input id="password" name="password" type="password" value="">
										</dd>											
										<dt><label for="confirm">Повторите пароль</label>
										<dd><input id="confirm" name="confirm" type="password" value="">
										</dd>											
										<dt><label for="accept_tos">Я принимаю <a href="/about/tos" target="blank">Условия предоставления услуг</a> и <br><a href="/about/privacy-policy" target="blank">Пояснение по вопросу приватности</a> (обновлено 11 апреля 2015 г.)</label>
										<dd><input id="accept_tos" name="accept_tos" type="checkbox" value="y">
										</dd>
								  </dl>
								  <input type=submit value=Register>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
	  
	  	</ul>
	</div>
	</nav>
</header>
  
<body>
	
	<div class="container" align="center" style="height:80%">

	<div class="container">
		{% with messages = get_flashed_messages() %}
			{% if messages %}
				{% for message in messages %}
					<div class="alert alert-warning alert-dismissible" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
					</button>
						{{message}}
					</div>
				{% endfor %}
			{% endif %}
		{% endwith %}
		
		{% block body %}{% endblock %}
	</div>

		<div class="well well-sm">
			<div class="row">
			    <div class="btn-group" role="group" aria-label="...">
	    			{% for t in ['Австралия', 'Азербайджан', 'Африка', 'Грузия', 'Европа', 'Египет', 'Израиль', 'Индия', 'Ирак', 'Иран', 'Канада', 'Китай', 'Корея', 'Латинская Америка', 'Магриб', 'Молдавия', 'Пакистан', 'США', 'Северный Кавказ', 'Сирия', 'Средняя Азия', 'Турция', 'Украина', 'ЮгоВосточная Азия', 'Япония', 'арабы ЗПЗ','Другие'] %}
	                    <a href="{{ url_for('find_country_edit', country = t) }}"><button type="button" class="btn btn-primary" style="margin-bottom: 5px">{{ t }}</button></a>
	    			{% endfor %}
	    		</div>
			</div>
			<div class="row">
				<h4><abbr title="учебно-боевые мероприятия">УБМ</abbr> стран СНГ (ну, почти СНГ)</h4>
				<div class="col-md-3">
					<a href="/news_az/"><button type="button" class="btn btn-primary" aria-label="Left Align" style="margin-top:5px; margin-left:5px"><span class="glyphicon glyphicon-flag" aria-hidden="true"></span>&nbsp;&nbsp;&nbspУчения Азербайджана</button></a>
				</div>
				<div class="col-md-3">
					<a href="/news_ge/"><button type="button" class="btn btn-primary" aria-label="Left Align" style="margin-top:5px; margin-left:5px"><span class="glyphicon glyphicon-flag" aria-hidden="true"></span>&nbsp;&nbsp;&nbspУчения Грузии</button></a>
				</div>
				<div class="col-md-3">
					<a href="/news_ua/"><button type="button" class="btn btn-primary" aria-label="Left Align" style="margin-top:5px; margin-left:5px"><span class="glyphicon glyphicon-flag" aria-hidden="true"></span>&nbsp;&nbsp;&nbspУчения Украины</button></a>
				</div>
			</div>
			<div class="row">
				<h4>УБМ стран НАТО</h4>
				<div class="col-md-3">
					<a href="/news_na/"><button type="button" class="btn btn-primary" aria-label="Left Align" style="margin-top:5px; margin-left:5px"><span class="glyphicon glyphicon-flag" aria-hidden="true"></span>&nbsp;&nbsp;&nbspУчения НАТО</button></a>
				</div>
				<div class="col-md-3">
					<a href="/news_po/"><button type="button" class="btn btn-primary" aria-label="Left Align" style="margin-top:5px; margin-left:5px"><span class="glyphicon glyphicon-flag" aria-hidden="true"></span>&nbsp;&nbsp;&nbspУчения Польши</button></a>
				</div>
				<div class="col-md-3">
					<a href="/news_la/"><button type="button" class="btn btn-primary" aria-label="Left Align" style="margin-top:5px; margin-left:5px"><span class="glyphicon glyphicon-flag" aria-hidden="true"></span>&nbsp;&nbsp;&nbspУчения Прибалтики</button></a>
				</div>
				<div class="col-md-3">
					<a href="/news_tr/"><button type="button" class="btn btn-primary" aria-label="Left Align" style="margin-top:5px; margin-left:5px"><span class="glyphicon glyphicon-flag" aria-hidden="true"></span>&nbsp;&nbsp;&nbspУчения Турции</button></a>
				</div>
			</div>
			<div class="row">
				<h4><strong>Регионы</strong></h4>
				<div class="col-md-3">
					<a href="/news_bl/"><button type="button" class="btn btn-primary" aria-label="Left Align" style="margin-top:5px; margin-left:5px"><span class="glyphicon glyphicon-cloud" aria-hidden="true"></span>&nbsp;&nbsp;&nbspЧерное море</button></a>
				</div>
				<div class="col-md-3">
					<a href="/news_md/"><button type="button" class="btn btn-primary" aria-label="Left Align" style="margin-top:5px; margin-left:5px"><span class="glyphicon glyphicon-cloud" aria-hidden="true"></span>&nbsp;&nbsp;&nbspСредиземное море</button></a>
				</div>
				<div class="col-md-3">
					<a href="/news_search/"><button type="button" class="btn btn-primary" aria-label="Left Align" style="margin-top:5px; margin-left:5px"><span class="glyphicon glyphicon-cloud" aria-hidden="true"></span>&nbsp;&nbsp;&nbspПоиск</button></a>
				</div>
			</div>
			<br/>
			<br/>
		</div>
	</div>
  
 	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</body>
  
</html>
