{% extends "base.html" %}

{% block content %}

{#	<div class="container">#}
{#		<div class="row">#}
        <h4>Вы можете:</h4>
        <p>- просматривать новости по одной, нажимая на заголовки;</p>
        <p>- получить те новости, которые Вас заинтересовали, в виде <mark>единого текста</mark>, отметив их галочкой и нажав кнопку в нижнем правом углу. Скопируйте полученный текст себе в Word (<kbd>Ctrl+A</kbd>, <kbd>Ctrl+C</kbd>, <kbd>Ctrl+V</kbd>).</p>
        {% if country %}<h2 style="text-align: center"><span class="label label-info">{{ country }}</span></h2>{% endif %}
{#        </div>#}
{#        <div class="row">   #}
            <form action="/download_articles/" method=post target="_blank">
                <div class="col-md-11">
            		<dt class="list-group">
            			{% for t in NEWS %}
                            <dd class="list-group-item">
                            <input type=checkbox name="selected" value="{{ t[3] }}">
            				<a href="{{ url_for('news_body', id=t[3]) }}" target="_blank">{{t[1]}} - {{t[0]}} ("{{t[2]}}")</a>
                            </dd>
            			{% endfor %}
            		</dt>
                </div>
                <div>
                    <button type=submit class="btn btn-warning" style="position: fixed; bottom: 3px; right: 3px"><span class="glyphicon glyphicon-file" aria-hidden="true"></span>   Отобразить<br>выбранное</button>
                </div>
            </form>
{#        </div>#}
{#	</div>#}


{% endblock %}